<center>

<h1>Create a Renter Profile:</h1>

<p> We just need some starter information to set up your renter profile.<p>

<main>

<%= form_for @renter do |f| %>
<p><%= f.label :name  %></p>
<p><%= f.text_field :name %></p>
<br>
<p><%= f.label :rent_allowance %></p>
<p><%= f.text_field :rent_allowance %></p>
<br>
<%= f.submit %>
<% end %>

</main>

</center>


