<center>
<h1><%=@renter.name%>'s Profile </h1>
<br>
<main>

<img class="fit-picture"
    style= "width: 40%" 
     src="https://images.pexels.com/photos/5256147/pexels-photo-5256147.jpeg?cs=srgb&dl=pexels-samson-katt-5256147.jpg&fm=jpg"
     alt="woman-sitting-at-a-table-working-on-a-laptop-with-her-scruffy-tan-colored-dog-sitting-in-the-other-chair">

<b><p>Name: <%= @renter.name %></p></b>
<b><p>Rent Allowance: $<%= @renter.rent_allowance %></p></b>

</main>

<nav>
<p> <%= link_to "Create Dog Profile", new_dog_path, class: "btn btn-danger" %> </p>
<br>
<p> <%= link_to "Update Renter Info", edit_renter_path, class: "btn btn-danger" %> </p>
<br>
<p> <%= link_to "See Apartment Listings", apartments_path, class: "btn btn-danger" %> </p>
<br>
</nav>

<p><%= button_to "Delete Profile #{@renter.name}", @renter, :method => :delete, class: "btn btn-danger" %></p>

</center>