<center><h1>Create Your Dog's Profile</h1>
<main>

<ul>
<%= form_for @dog do |f| %>
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<br>
<p><%= f.label :weight %></p>
<p><%= f.text_field :weight %></p>
<br>
<p><%= f.label :breed %></p>
<p><%= f.text_field :breed %></p>
<br>
<p><%= f.label :bio %></p>
<p><%= f.text_field :bio %></p>
<br>
<p><%= f.label :renter_id %></p>
<p><%= f.collection_select :renter_id, @renters, :id, :name %></p>
<br>
<%= f.submit %>
<% end %>
</ul>
</main>
</center>