  
<h1>This is THE apartment</h1>

    <p>Description: <%= @apartment.description %></p>
    <p>Address: <%= @apartment.address %></p>

<h2>Pet Policy</h2>


    <p>Breed Restrictions: <%= @policy.breed_restriction %></p>
    <p>Maximum Weight: <%= @policy.weight_max %></p>

    <p><%= link_to 'Back to All Apartments', apartments_path %></p>